body {
   background-color: white;
   margin: 0px;
}

.unselectedNum {
   background-color: white;
   border-radius: 50px;
   border-style: dashed;
   border-width: 0.08em;
   border-color: black;
   color: black;
}

.selectedNum {
   background-color: #5F9C49;
   border-radius: 50px;
   border-width: 0px;
   color: white;
   -webkit-animation: buttonAnim 0.3s;
   animation: buttonAnim 0.3s;
}

.numButton {
   transform: scale(1);
   width: 85px;
   height: 85px;
   font-size: 35px;
   margin-left: 2.2px;
   margin-right: 2.2px;
   font-weight: bold;
}

.unselectedSymbol {
   background-color: black;
   color: white;
}

.selectedSymbol {
   background-color: #5F9C49;
   color: white;
   -webkit-animation: buttonAnim 0.2s;
   animation: buttonAnim 0.2s;
}

.symbolButton {
   border-radius: 50px;
   border-width: 0px;
   width: 50px;
   height: 50px;
   font-size: 35px;
   margin-left: 0px;
   margin-right: 0px;
   vertical-align: top;
   margin-top: 10px;
}


br {
   display: block;
   content: "";
   margin-top: 15px;
}

.plusImage {
   width: 30px;
   height: 30px;
   margin-top: 8px;
}

.minusImage {
   width: 30px;
   height: 10px;
   margin-bottom: 6px;
}

.divideImage {
   width: 30px;
   height: 30px;
   margin-top: 8px;
}

.timesImage {
   width: 25px;
   height: 25px;
   margin-top: 8px;
}

.undoButton {
   background-color: #5F9C49;
   border-radius: 50px;
   border-width: 0px;
   width: 50px;
   height: 50px;
   font-size: 35px;
   margin-left: 2px;
   margin-right: 2px;
   vertical-align: top;
   margin-top: 10px;

}

.undoImage {
   width: 26px;
   height: 29px;
   margin-top: 8px;
}

#targetNumber {
   color: black;
   font-size: 56px;
   text-align: center;
   font-weight: bold;
   margin-bottom: 7px;
}

.playArea {
   width: 279px;
   height: 210px;
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);

   justify-content: center;
   align-items: center;
   margin-top: 0px;


}

.center-screen {
   /* Set the dimensions of your div */
   width: 300px;
   height: 400px;

   /* Center the div */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

.title {
   font-weight: bold;
   font-size: 50px;
   align-self: center;
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 0;
   margin-top: 20px;
}

.startScreen {
   background-color: #DBE796;
   height: 100%;
   margin: 0;
   padding: 0;
}

.logo {
   height: 80px;
   width: 80px;
   height: auto;
   -webkit-animation: logoanim 200s;
   animation: logoanim 200s;
}

.description {
   font-size: 25px;
   align-self: center;
   font-family: 'Times New Roman', Times, serif;
   margin-top: 15px;
}

.play {
   border-radius: 30px;
   width: 150px;
   height: 100px;
   background-color: black;
   color: white;
   font-weight: bold;
   font-size: 15px;
   margin-top: 0px;
}

#current_date {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bolder;
   font-size: 14px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: black;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   text-decoration: none;
   font-size: 24px;
   font-family: 'Times New Roman', Times, monospace;
   font-weight: bolder;
   margin-top: 6px;
   margin-left: 17px;
   margin-right: 10px;
}

.topLogo {
   width: 35px;
   margin-top: 3px;
   margin-left: 10px;
}

@keyframes buttonAnim {
   0% {
      transform: scale(1);
   }

   30% {
      transform: scale(0.95);
   }

   60% {
      transform: scale(1.05);
   }

   100% {}
}

.gettingUsed {
   -webkit-animation: fadeAway 0.5s;
   animation: fadeAway 0.5s forwards;

}

.gettingChanged {
   -webkit-animation: inflate 0.5s;
   animation: inflate 0.5s;
}

@keyframes fadeAway {

   0% {
      transform: scale(0.8);
   }


   100% {
      transform: scale(0);
   }

}

@keyframes inflate {

   0% {
      transform: scale(1);
   }


   50% {
      transform: scale(1.3);
   }

   100% {
      transform: scale(1);
   }

}

.match {
   -webkit-animation: levelUp 3s;
   animation: levelUp 2s;
}

@keyframes levelUp {
   0% {
      transform: scale(1);
   }

   30% {
      transform: scale(2);
   }

   100% {
      rotate: 360deg;
   }
}

@keyframes fillScreen {

   0% {
      transform: scale(1);
   }

   5% {
      transform: scale(1.2);
   }

   10% {
      transform: scale(1);
   }

   30% {
      transform: scale(0.8);
   }

   40% {
      transform: scale(1.2);
   }

   55% {
      transform: scale(0.5);
   }

   100% {
      transform: scale(300);

   }

}

.winText {
   font-size: 48px;
   color: white;
   font-weight: bold;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   -webkit-animation: revealText 3s;
   animation: revealText 3s;
}

.endScreen {
   background-color: #5F9C49;
   /* Set the dimensions of your div */
   width: 700px;
   height: 425px;

   /* Center the div */
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

@keyframes revealText {

   0% {
      transform: scale(0);
   }

   80% {
      transform: scale(1.5);
   }

   100% {
      transform: scale(1);
   }

}